* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #667eea,
    #764ba2
  );

  transition: 0.4s;

  padding: 20px;
}

.container.dark {
  background: linear-gradient(
    135deg,
    #141e30,
    #243b55
  );
}

.todo-card {
  width: 550px;

  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(10px);

  padding: 30px;

  border-radius: 20px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  color: white;
}

.top-bar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.theme-btn {
  background: white;

  border-radius: 50%;

  width: 45px;
  height: 45px;

  font-size: 20px;
}

.stats {
  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;

  font-weight: bold;
}

.todo-input {
  display: flex;

  gap: 10px;

  margin-bottom: 20px;
}

input {
  flex: 1;

  padding: 12px;

  border: none;

  border-radius: 10px;

  outline: none;

  font-size: 16px;
}

button {
  border: none;

  padding: 10px 15px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.todo-input button {
  background: #00c853;

  color: white;

  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  background: rgba(255, 255, 255, 0.2);

  padding: 12px;

  border-radius: 12px;

  margin-bottom: 12px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.actions {
  display: flex;

  gap: 10px;
}

.edit-btn {
  background: #ffca28;
}

.complete-btn {
  background: #00e676;
}

.delete-btn {
  background: #ff5252;

  color: white;
}

.completed {
  text-decoration: line-through;

  opacity: 0.6;
}

.empty-message {
  text-align: center;

  margin-bottom: 20px;

  font-size: 18px;
}